body {
	font-family: sans-serif;
	margin: auto;
	max-width: 100%;
}

#content {
	max-width: 90%;
	margin: auto;
	width: fit-content;
}

.navbar {
	background-color: #313236;
	border-radius: 2px;
}

.navbar a {
	color: #aaa;
	display: block;
	font-size: 15px;
	padding: 10px;
	text-decoration: none;
	margin: auto;
	width: fit-content;
}

.navbar a:hover {
	color: #ffffff;
}