body {
	font-family: sans-serif;
	margin: auto;
	max-width: 1280px;
}

.navbar {
	background-color: #313236;
	border-radius: 2px;
	max-width: 800px;
}

.navbar a {
	color: #aaa;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	text-decoration: none;
}

.navbar a:hover {
	color: #ffffff;
}

.testy {
	border: 3px dotted tomato;
	border-radius: 15px;
	padding: 3px 9px 3px 9px;
	margin-bottom: 15px;
	width: fit-content;
	display: block;
}

.testy.test-after::after {
	content: "";
}

.testy.test-after:hover::after {
	content: "Good Job!";
	padding-left: 3px;
}


.testy.rotate {
	transform: rotate(0deg);
	transition: transform 1s;
}

.testy.rotate:hover {
	transform: rotate(180deg);
	transition: transform 1s;
}

.summary * {
	border: 2px solid green;
	display: inline-block;
}

.summary {
	border: 2px solid black;
}

.triangle {
	border-color: transparent;
	border-left: 15px solid transparent;
	width: 0;
	border-bottom: 15px solid gold;
	transform: rotate(-45deg);
	margin-left: -5px;
}

.circle {
	border-color: transparent;
	background: radial-gradient(#e66465, #9198e5);
	width: 70px;
	height: 70px;
	border: 3px solid black;
	border-radius: 100%;
	margin-left: 15px;
}

.menu {
	width: fit-content;
	padding: 20px;
	pointer-events: none;
}

#flag {
	pointer-events: auto;
}

.menu:hover {
	border-color: red;
}

.tri {
	border: 1px solid black;
}